.Contador{
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    margin: auto;
    box-shadow: 0 2px 8px rgb(0,0,0,0.20);
}

.Contador h1{
    font-size: 30px;
}