.container {
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: center;    
    flex-direction: column;
    border: 2px solid gray;
    padding: 5px;
    margin: 25px auto;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0,0,0,0.20);
}

.container h2, a{
    color: black;
}
